# Challenge 4: Load

In [ ]:
# Data manipulation
import pandas as pd

# Python SQL toolkit
import sqlalchemy as alch

# Secure password management system
from getpass import getpass

# Te quiero demasiado
from tqdm import tqdm

In [ ]:
# Reads csvs
initial = pd.read_csv('../eda/initial.csv', index_col = 0)
scraped = pd.read_csv('../eda/scraped.csv', index_col = 0)

In [ ]:
# Stores the password in a variable securely, so that nobody can see it
password = getpass('Contrase√±a de MySQL: ')

In [ ]:
# Stores the name of our database in a variable
db_name = 'supermarkets'

# Creates the connection with MySQL
connection = f'mysql+pymysql://root:{password}@localhost/{db_name}'

In [ ]:
# To connect to a database, we need to create a SQLAlchemy engine. The SQLAlchemy engine creates a common interface to the database for executing SQL statements.
# It does this by wrapping a set of database connections and a dialect in such a way that they can work together to provide uniform access to the database.
engine = alch.create_engine(connection)

In [ ]:
frames = [initial, scraped]
concatenation = pd.concat(frames)
concatenation.shape

## Data insertion into MySQL database

### Product table

In [ ]:
for index, row in tqdm(concatenation.iterrows()):

    try: 

        engine.execute(f"""
            INSERT INTO product (name, price, reference_price, reference_unit) VALUES
            ("{row["name"]}", "{row["price"]}", "{row["reference_price"]}", "{row["reference_unit"]}");""")
    
    except: 

        pass

### Supermarket table

In [ ]:
for index, row in tqdm(concatenation.iterrows()):
    
    try: 

        engine.execute(f"""
            INSERT INTO supermarket (name) VALUES
            ("{row["supermarket"]}");""")
    
    except: 

        pass

### Category table

In [ ]:
for index, row in tqdm(concatenation.iterrows()):

    try: 

        engine.execute(f"""
            INSERT INTO category (name) VALUES
            ("{row["category"]}");""")
    
    except: 

        pass

### URL table

In [ ]:
for index, row in tqdm(concatenation.iterrows()):

    try: 

        engine.execute(f"""
            INSERT INTO url (url) VALUES
            ("{row["url"]}");""")
    
    except: 

        pass

### Record table

In [ ]:
for index, row in tqdm(concatenation.iterrows()):

    try: 

        engine.execute(f"""
            INSERT INTO record (date) VALUES
            ("{row["insert_date"]}");""")
    
    except: 

        pass