# Challenge 4: Load

In [11]:
# Data manipulation
import pandas as pd

# Python SQL toolkit
import sqlalchemy as alch

# Secure password management system
from getpass import getpass

# Te quiero demasiado
from tqdm import tqdm

In [2]:
# Reads csvs
initial = pd.read_csv('../eda/initial.csv', index_col = 0)
scraped = pd.read_csv('../eda/scraped.csv', index_col = 0)

In [3]:
# Stores the password in a variable securely, so that nobody can see it
password = getpass('Contrase√±a de MySQL: ')

In [4]:
# Stores the name of our database in a variable
db_name = 'supermarkets'

# Creates the connection with MySQL
connection = f'mysql+pymysql://root:{password}@localhost/{db_name}'

In [5]:
# To connect to a database, we need to create a SQLAlchemy engine. The SQLAlchemy engine creates a common interface to the database for executing SQL statements.
# It does this by wrapping a set of database connections and a dialect in such a way that they can work together to provide uniform access to the database.
engine = alch.create_engine(connection)

In [6]:
frames = [initial, scraped]
concatenation = pd.concat(frames)

In [7]:
initial.shape

(3053473, 8)

In [8]:
scraped.shape

(6118, 8)

In [9]:
concatenation.shape

(3059591, 8)

## Data insertion into MySQL database

### Product table

In [ ]:
for index, row in tqdm(concatenation.iterrows()):

    try: 

        engine.execute(f"""
            INSERT INTO product (name, price, reference_price, reference_unit) VALUES
            ("{row["name"]}", "{row["price"]}", "{row["reference_price"]}", "{row["reference_unit"]}");""")
    
    except: 

        pass

### Supermarket table

In [ ]:
for index, row in tqdm(concatenation.iterrows()):
    
    try: 

        engine.execute(f"""
            INSERT INTO supermarket (name) VALUES
            ("{row["supermarket"]}");""")
    
    except: 

        pass

### Category table

In [ ]:
for index, row in tqdm(concatenation.iterrows()):

    try: 

        engine.execute(f"""
            INSERT INTO category (name) VALUES
            ("{row["category"]}");""")
    
    except: 

        pass

### URL table

In [12]:
for index, row in tqdm(concatenation.iterrows()):

    try: 

        engine.execute(f"""
            INSERT INTO url (url) VALUES
            ("{row["url"]}");""")
    
    except: 

        pass

1480861it [27:31, 778.87it/s]Exception during reset or similar
Traceback (most recent call last):
  File "/Users/jmpas/anaconda3/lib/python3.10/site-packages/sqlalchemy/pool/base.py", line 697, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/jmpas/anaconda3/lib/python3.10/site-packages/sqlalchemy/pool/base.py", line 893, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/jmpas/anaconda3/lib/python3.10/site-packages/sqlalchemy/dialects/mysql/base.py", line 2513, in do_rollback
    dbapi_connection.rollback()
  File "/Users/jmpas/anaconda3/lib/python3.10/site-packages/pymysql/connections.py", line 482, in rollback
    self._read_ok_packet()
  File "/Users/jmpas/anaconda3/lib/python3.10/site-packages/pymysql/connections.py", line 442, in _read_ok_packet
    pkt = self._read_packet()
  File "/Users/jmpas/anaconda3/lib/python3.10/site-packages/pymysql/connections.py", line 696, in _read_packet
    packet_header = self._read_bytes(4)
  File "/Users/jmpas/anaconda3/lib/python3.10/site-packages/pymysql/connections.py", line 736, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "/Users/jmpas/anaconda3/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt
1491595it [27:50, 549.67it/s]

### Record table

In [10]:
for index, row in tqdm(concatenation.iterrows()):

    try: 

        engine.execute(f"""
            INSERT INTO record (date) VALUES
            ("{row["insert_date"]}");""")
    
    except: 

        pass